@import url("../utilities.css");
@import url("../normalize.css");
@import url("../theme/light.theme.css");
@import url("../components/button.module.css");
@import url("../components/typography.module.css");
@import url("../components/input.module.css");
@import url("../modules/header.module.css");
@import url("../modules/nav-bar.module.css");
@import url("../modules/footer.module.css");
@import url("../main.css");

.empty {
    width: 100%;
    height: 140px;
}
/* featured image */
.container.featured-image {
    position: relative;
    height: 800px;
    background: #CCCCCC;
    border-radius: 80px 0px 0px 80px;
}

/* content */
.content {
    width: 744px;
    height: 1775px;
    margin-top: 60px;
    margin-bottom: 60px;
}
.properties {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 335px;
    height: 20px;
}
.properties .property{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 20px;
}
.properties .property img{
    width: 16px;
    height: 20px;
    margin: 0px 10px 0px 0px;
}
.properties .property:nth-child(2) img{
    width: 14px;
}
.properties .property .text-sm.text-color2{
    display: flex;
    align-items: center;
    margin: 0px;
}
.content .font2.text-color1 {
    margin: 18px 0px 40px 0px;
    font-weight: 400;
    font-size: 64px;
    line-height: 72px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}
.content .font3.text-base.text-color5 {
    margin: 0px 0px 40px 0px;
}
.content .text-2xl.text-color1 {
    margin: 0px 0px 21px 0px;
}
.photo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 400px;
    margin: 0px 0px 40px 0px;
}
.tags {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 40px;
}
.tags .tag {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 10px;
}
.tags .tag button{
    height: 40px;
    border: 1px solid rgba(65, 170, 63, 0.5);
    border-radius: 25px;
}
.tags .tag button .font1.text-sm{
    margin: 0px 9px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #39A237;
}
.tags .content-social {
    display: flex;
    gap: 20px;
}
hr {
    margin: 0px 0px 40px 0px;
    border: 2px solid rgba(196, 196, 196, 0.85);
}

/* related-post */
.related-post {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 478px;
    margin-bottom: 60px;
    margin-top: 40px;
}
.related-post p.font2.text-color1 {
    margin: 0px 0px 40px 0px;
    font-weight: 400;
    font-size: 39px;
    line-height: 55px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}
.related-post .posts {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 747px;
    height: 383px;
}
.related-post .post {
    width: 356px;
    margin: 0px 30px 0px 0px;
}
.related-post .posts .properties{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 335px;
    height: 20px;
}
.related-post .posts .properties .property1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.related-post .posts .properties .property1 img{
    width: 16px;
    height: 20px;
    margin: 0px 10px 0px 0px;
}
.related-post .posts .properties .property1 p.font1.text-sm.text-color2{
    height: 20px;
    margin: 0px;
}
.related-post .posts .post .img-post{
    width: 356px;
    height: 206px;
    margin: 24px 0px 0px 0px;
}
.related-post .posts .post .font1.text-2xl.text-color1{
    width: 355px;
    height: 53px;
    margin: 24px 0px 0px 0px;
}
.related-post .posts .post .property2{
    display: flex;
    flex-direction: row;
    width: 105px;
    height: 20px;
    margin: 36px 0px 0px 0px;
}
.related-post .posts .post .property2 img{
    width: 12px;
    height: 20px;
    margin: 0px 14px 0px 0px;
}
.related-post .posts .post .property2 p.font1.text-sm.text-color4{
    width: 79px;
    height: 20px;
    margin: 0px;
}

/* comments */
.comments {
    width: 750px;
    margin-top: 40px;
}
.comments .font2.text-3xl.text-color1{
    margin: 0px 0px 40px 0px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}
.comments .comment{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 198px;
}
.avatar {
    width: 80px;
    height: 80px;
    margin: 0px 40px 0px 0px;
}
.comments .comment .comment-right .font1.text-color1{
    margin: 0px 0px 2px 0px;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
}
.time {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 114px;
    gap: 10px;
}
.time img {
    width: 16px;
    height: 20px;
    margin: 0px;
}
.time .text-sm.text-color2 {
    margin: 0px;
}
.comments .comment .font3.text-base.text-color5 {
    margin: 35px 0px 0px 0px;
}

form {
    width: 743px;
    height: 502px;
    margin-top: 60px;
    padding: 60px 0px 60px 60px;
    background: #F5F5F5;
    border-radius: 25px;
}
form .font2.text-3xl.text-color1{
    margin: 0px 0px 26px 0px;
}
.form-info {
    display: flex;
    gap: 15px;
}
.form-name {
    width: 304px;
    height: 49px;
    padding-left: 22px;
    background: #FFFFFF;
    border: 1px solid rgba(196, 196, 196, 0.85);
    border-radius: 25px;
}
.form-comment {
    width: 623px;
    height: 150px;
    margin: 15px 0px 7px 0px;
    padding-top: 12px;
    padding-left: 22px;
    background: #FFFFFF;
    border: 1px solid rgba(196, 196, 196, 0.85);
    border-radius: 25px;
}
form .text-color5 {
    margin: 0px 0px 15px 0px;
}
form > button {
    width: 201px;
    height: 49px;
    margin: 0px;
    background: #FF7D34;
    border-radius: 25px;
    border: none;
}
form > button .font2.text-lg.text-color3 {
    letter-spacing: 0.05em;
    margin: 0px;
}

/* float-right */
.float-right {
    position: absolute;
    top: 671px;
    left: 973px;
    width: 259px;
    height: 1848px;
}
.author-box {
    height: 519px;
}
.author-box img{
    width: 258px;
    height: 258px;
    margin: 0px 0px 20px 0px;
}
.author-box .title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px;
}
.author-box .title .font2.text-color1{
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    margin: 0px;
}
.author-box .title .note{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0px;
    gap: 8px;
}
.author-box .title .note img{
    width: 14px;
    height: 20px;
    margin: 0px;
}
.author-box .title .note .font2{
    margin: 0px;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-align: right;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: #39A237;
}
.author-box .font3.text-color5 {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin: 16px 0px 24px 0px;
}
.author-box .image {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 101px;
    gap: 21px;
}
.author-box .image img{
    width: 40px;
    height: 40px;
}
.float-right .font2.text-color1{
    margin: 0px 0px 16px 0px;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.01em;
    text-transform: uppercase;
}
.float-right .search{
    position: relative;
    margin: 0px 0px 40px 0px;
}
.float-right .search input{
    width: 259px;
    height: 49px;
    background: #FFFFFF;
    border: 1px solid rgba(196, 196, 196, 0.85);
    border-radius: 25px;
    padding-left: 24px;
}
.float-right .search img{
    position: absolute;
    width: 18px;
    height: 18px;
    top: 15px;
    right: 17px;
    margin: 0px;
}
.recent-posts {
    width: 259px;
    height: 702px;
}
.recent-posts .font2.text-color1{
    font-weight: 400;
    font-size: 20px;
    margin: 0px 0px 24px 0px;
    line-height: 30px;
    letter-spacing: 0.01em;
    text-transform: uppercase;
}
.recent-posts .recent-post img{
    width: 259px;
    height: 96px;
    margin: 0px 0px 24px 0px;
}
.recent-posts .recent-post{
    margin: 0px 0px 36px 0px;
}
.recent-posts .recent-post .recent-property {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 122px;
    height: 20px;
    margin: 0px;
}
.recent-posts .recent-post .recent-property .text-sm.text-color2{
    display: flex;
    align-items: center;
    margin: 0px 0px 0px 0px;
}
.recent-posts .recent-post .recent-property img{
    width: 16px;
    height: 20px;
    margin: 0px 10px 0px 0px;
}
.recent-posts .recent-post .font1.text-color2{
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    display: flex;
    align-items: center;
    margin: 12px 0px 0px 0px;
}